*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  position: fixed;
  z-index: 999;
  opacity: 0.97;
  background: hsl(358, 65%, 39%);
  border-bottom: 4px solid black;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
}
nav {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-left: 3em;
  margin-bottom: 0px;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 150ms;
  position: relative;
}
nav a:hover {
  color: white;
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: hsl(47, 86%, 64%);
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
nav a:hover::before {
  transform: scale(1, 1);
}
nav a:active::before {
  transform: scale(1, 3);
}
h1 {
  grid-column: 2 / 3;
}
#colOne {
  float: left;
  width: 50%;
}
#colTwo {
  float: right;
  width: 50%;
}
body {
  font-family: Roboto;
  margin: 0;
  /* background-color: lightgray; */
}
.content {
  /* padding-top: 50px; */
  height: 200vh;
}
h2 {
  padding-top: 15%;
  padding-left: 2%;
}
p {
  padding-left: 2%;
}
