*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  position: fixed;
  z-index: 999;
  opacity: 0.97;
  background: hsl(358, 65%, 39%);
  border-bottom: 4px solid black;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
}
nav {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-left: 3em;
  margin-bottom: 0px;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 250ms;
  position: relative;
}
nav a:hover {
  color: white;
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: hsl(47, 86%, 64%);
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
nav a:hover::before {
  transform: scale(1, 1);
}
nav a:active::before {
  transform: scale(1, 3);
}
header h1 {
  grid-column: 2 / 3;
  color: hsl(47, 86%, 64%);
}
#colOne {
  float: left;
  width: 50%;
}
#colTwo {
  float: right;
  width: 50%;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  /* background-color: lightgray; */
}
.content {
  padding-top: 50px;
  height: 200vh;
}
h2 {
  padding-top: 15%;
  padding-left: 2%;
  text-align: center;
}
p {
  padding-left: 2%;
}
#Mighty-Bytes {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.theme {
  font-weight: bold;
  color: hsl(358, 65%, 39%);
  text-decoration: underline;
}
.field1 {
  background-color: hsl(358, 65%, 39%);
  color: white;
  width: 440px;
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  border-radius: 10px;
}
form fieldset.field1 label {
  width: 110px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  width: 110px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

input[type="text"],
input[type="email"] {
  width: 210px;
  padding: 5px;
  margin: 10px;
}
input[type="text"],
input[type="email"] {
  width: 210px;
  padding: 5px;
  margin: 10px;
}
input[type="radio"]{margin-left: 35px;}
input[type="text"]:focus {
  background-color: gold;
}
input[type="email"]:focus {
  background-color: gold;
}
form .dc-radio,
.marvel-radio {
  display: flex;
}
.dc-radio {
  margin-left: 50px;
}
.marvel-radio {
  float: right;
}
#test{
  margin-right: 20px;
}

p {
  padding: 5px;
  margin: 10px;
}
#submit-button {
  cursor: pointer;
  margin-left: 45%;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 150ms;
}
#submit-button:hover {
  background-color: hsl(0, 0%, 95%);
}
#submit-button:active {
  background: hsl(0, 0%, 90%);
}
#themesong {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#Mighty-Bytes {
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  #colOne {
    float: none;
    margin: 0 auto 0 auto;
  }
  #colTwo {
    float: none;
    margin: 0 auto 0 auto;
  }
  .field1 {
    margin-top: 3.5em;
  }
  #themesong {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #Mighty-Bytes {
    margin: 0 auto;
  }
}
